{% extends "layout.html" %}
{% block content %}
    <div class="row">
      <div class="full column" style="margin-top: 50px;">
        <h1>Test Site Home</h1>
        <p>Test site Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis 
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
          officia deserunt mollit anim id est laborum
        </p>
        <ul>
          <li><a href="{{ url_for('cozyrag_start') }}">CozyRAG</a>&emsp;Retrieval-Augmented Generation for Cozy Builders</li>
          <li><a href="/dokucozy/doku.php">DokuCozy</a>&emsp;Wikipedia tool for Cozy Builders</li>
          <li>{{ originid_anchor('./data/news/news_78.txt')|safe }}</li>
          <li>{{ originid_anchor('./data/msgs/H/Hmt8MVDA4C4.md')|safe }}</li>
          <li>{{ originid_anchor('./data/msgs/aDigits/__2jn0TfM2Y.md')|safe }}</li>
          <li>{{ originid_anchor('./data/aeroelectric/page42.txt')|safe }}</li>
          <li>{{ originid_anchor('./data/msgs/C/cjZaAeV49-k.md')|safe }}</li>
          
        </ul>
      </div>
    </div>
{% endblock %}
