{% extends "layout.html" %}
{% block content %}
    <div class="row">
      <div class="full column" style="margin-top: 50px;">
        <h1>My Site</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div id="result">Loading...</div>

      <script>
          // Perform an AJAX request to get the processed data
          fetch('/process_data')
              .then(response => response.json())
              .then(data => {
                  document.getElementById('result').innerHTML = data.data;
              });
      </script>
      
{% endblock %}
