{% extends "layout.html" %}
{% block content %}
    <div class="row">
      <div class="full column" style="margin-top: 50px;">
        <h1>My Site</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="six columns">
        <h3>Results:</h3>
        <pre><code>Response Time: {{ results['time'] }}
{{ results['model'] }}
Prompt Tokens: {{ results['prompt tokens'] }} Completion Tokens: {{ results['completion tokens'] }}
Number of Source Documents: {{results['number provided docs']}}
Average Document Relevancy Score: {{results['average score']}}</code></pre>
      </div>
      <div class="full column">
        <h5>Answer</h5>
        <p>{{ results['answer'] }}</p>
      </div>
      <div class="six columns">
        <h5>Provided Documents</h5>
        <pre><code>{% for doc in results['provided_docs'] %}{{ doc['score'] }}: {{ doc['source'] }}
{% endfor %}</code></pre>
        <h5>Other Related Documents</h5>
        <pre><code>{% for doc in results['related_docs'] %}{{ doc['score'] }}: {{ doc['source'] }}
{% endfor %}</code></pre>
      </div>
    </div>
{% endblock %}
